@import "tailwindcss";

html, body{
    font-family: "Poppins", sans-serif;
}

button[class = temp]{
    background-color: grey;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    color: white;
    margin: 10px;
}